<!DOCTYPE html>
<html>

<head>
    <title>Table</title>
    <meta charset="utf-8" />
    <!-- Embed fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="/assets/table/table.css">
</head>

<body>
    <a href="/home" class="home">Home</a>
    <div class="table_container">
        <div class="title">List user</div>
        <table>
            <tr>
                <th>ID</th>
                <th>User Name</th>
                <th>Full Name</th>
                <th>Mail</th>
                <th>Action</th>
            </tr>
            <% for (let i=0; i < listaccounts.length; i++) { %>
                <tr>
                    <td>
                        <%=listaccounts[i].account_id %>
                    </td>
                    <td>
                        <%=listaccounts[i].username %>
                    </td>
                    <td>
                        <%=listaccounts[i].full_name %>
                    </td>
                    <td>
                        <%=listaccounts[i].email %>
                    </td>
                    <td>
                        <a href="/update/<%=listaccounts[i].account_id %>" style="padding: 10%;">Edit</a>

                        <form action="/delete_user/<%=listaccounts[i].account_id %>" method="POST">
                            <button>Delete</button>

                        </form>
                    </td>
                </tr>
                <% } %>


        </table>
    </div>
</body>

</html>